/* =========================================================
   RESPONSIVE — GRID & HEADER
   ========================================================= */

/* TABLETS — 992px */
@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .header {
    padding: 10px 10px;
  }
}

/* MOBILE — 768px */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  body {
    overflow-x: hidden;
  }

  .nav ul {
    gap: 12px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .nav a {
    font-size: 15px;
  }

  .logo {
    font-size: 26px;
  }

  .logo a {
    font-size: 26px;
  }

  .header {
    background: transparent !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: none;
    /* margin-top: 20px; */
  }

  .header.scrolled {
    background: transparent !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

/* SMALL MOBILE — 480px */
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
    width: 96%;
  }

  body {
    overflow-x: hidden;
  }

  .product-card img {
    height: 140px;
    object-fit: contain;
  }

  .hero {
    height: 260px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .header {
    /* padding: 10px 10px; */
    background: transparent !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: none;
  }

  .header.scrolled {
    background: transparent !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .logo {
    font-size: 14px;
  }

  .logo a {
    font-size: 14px;
  }

  .nav a {
    font-size: 9px;
  }
}

/* VERY SMALL MOBILE — 380px */
@media (max-width: 380px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 98%;
  }

  body {
    overflow-x: hidden;
  }

  .product-card img {
    height: 120px;
    object-fit: contain;
  }

  .hero {
    height: 220px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .header {
    padding: 8px 8px;
    background: transparent !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: none;
  }

  .header.scrolled {
    background: transparent !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .logo {
    font-size: 20px;
  }

  .logo a {
    font-size: 20px;
  }

  .nav a {
    font-size: 12px;
    padding: 4px 5px;
  }

  .nav ul {
    gap: 4px;
    flex-wrap: wrap;
  }
}